:root {
  --main-font-color: black;
  --secondary-font-color: blue;

  --main-bg-color: bisque;
}

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-family: "Roboto Mono", monospace;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
}

.app-wrapper {
  width: 60%;
  margin: 0 auto;
}

.app__title {
  font-size: 3rem;
  line-height: 5rem;
  font-weight: 700;
}

.accordion__label {
  position: relative;
  display: block;
}

.accordion-item {
  border-top: dotted gray 1px;
  font-size: 2rem;
  line-height: 4rem;
  color: var(--secondary-font-color);
}

.accordion-item input {
  display: none;
}

.accordion-item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: color 0.2s;
}

.accordion__content {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  height: 0;
  transition: height 0.2s;
}

.accordion__content > img {
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  transition: filter 0.2s;
}

.fa-chevron-circle-down {
  opacity: 0;
  transition: transform 0.5s, opacity 0.2s;
}

.accordion__label:active > .accordion-item__header > span {
  color: var(--secondary-font-color);
}

.accordion__label:active > .accordion__content > img {
  filter: grayscale(80%);
}

.accordion-item input[type="checkbox"]:checked ~ .accordion__content {
  height: 25rem;
}

.accordion-item input[type="checkbox"]:checked ~ .accordion-item__header {
  color: var(--main-font-color);
}

.accordion-item
  input[type="checkbox"]:checked
  ~ .accordion-item__header
  > .fa-chevron-circle-down {
  transform: rotate(180deg);
}

@media (hover: hover) {
  .app-wrapper:hover .accordion-item__header {
    color: var(--main-font-color);
    cursor: pointer;
  }

  .app-wrapper:hover .fa-chevron-circle-down {
    opacity: 1;
    cursor: pointer;
  }

  .accordion-item:hover .accordion-item__header > .fa-chevron-circle-down {
    transform: rotate(180deg);
  }

  .accordion-item:hover > .accordion__label > .accordion__content {
    height: 25rem;
    cursor: pointer;
  }
}

@media (max-width: 820px) {
  .app__title {
    font-size: 2rem;
    line-height: 4rem;
  }

  .accordion-item {
    font-size: 1.5rem;
    line-height: 3rem;
  }

  .accordion-item input[type="checkbox"]:checked ~ .accordion__content {
    height: 13rem;
  }

  @media (hover: hover) {
    .accordion-item:hover > .accordion__label > .accordion__content {
      height: 13rem;
    }
  }
}

@media (max-width: 320px) {
  .app__title {
    font-size: 1.5rem;
    line-height: 3rem;
  }

  .accordion-item {
    font-size: 1rem;
    line-height: 2rem;
  }

  .accordion-item input[type="checkbox"]:checked ~ .accordion__content {
    height: 9rem;
  }

  @media (hover: hover) {
    .accordion-item:hover > .accordion__label > .accordion__content {
      height: 9rem;
    }
  }
}
